<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav th:fragment="menu">
    <ul >
        <li><a th:href="@{/}">Welkom</a>
            <a th:href="@{/brouwer}">Brouwers</a></li>
    </ul>
</nav>
<body>

<div th:if="${bier}" th:object="${bier}">
    <h1 th:text="*{naam}"></h1>

    <dl>
        <dt>Alcohol</dt>
        <dd th:text="*{alcohol}"></dd>
        <dt>Prijs</dt>
        <dd th:text="*{prijs}"></dd>
    </dl>
    <form method="post" th:object="${aantalBierenForm}" th:action="@{/bier/{id}/bestellen(id=${bier.id})}">
        <label autofocus required></label>
    <label>Aantal:<span th:errors="*{aantal}"></span>
        <input th:field="*{aantal}" autofocus type="number" required min="0">
    </label>


        <button>Toevoegen</button>
    </form>

</div>
</body>
</html>