<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav th:fragment="menu">
    <ul >
        <li><a th:href="@{/}">Welkom</a>
            <a th:href="@{/brouwer}">Brouwers</a>
            <a th:href="@{/mandje}">Mandje</a>
            </li>
    </ul>
</nav>
<body>
<table>
    <thead>
    <tr>
        <th>Bier</th>
        <th>Aantal</th>
        <th>Prijs</th>
        <th>Te betalen</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="item:${mand.getItems()}" th:object="${item}">
        <td th:text="*{naam}"></td>
        <td th:text="*{aantal}"></td>
        <td th:text="*{prijs}"></td>
        <td th:text="*{getTotaal()}"></td>
    </tr>

    <tr  th:object="${totaal}">
        <td >Totaal:</td>
        <td th:text="${totaal}">Totaal</td>
    </tr>
    <br>

    </tbody>
</table>

<form method="post" th:object="${gegevensForm}" th:action="@{/mandje/bevestigen}">
    <label autofocus required></label>
    <label>Naam:<span th:errors="*{naam}"></span>
        <br>
        <input th:field="*{naam}" required>
    </label>
    <br>
    <label>Straat:<span th:errors="*{straat}"></span>
        <br>
        <input th:field="*{straat}" required>
    </label>
    <br>
    <label>Huisnummer:<span th:errors="*{huisNummer}"></span>
        <br>
        <input th:field="*{huisNummer}" required>
    </label>
    <br>
    <label>Postcode:<span th:errors="*{postcode}"></span>
        <br>
        <input th:field="*{postcode}"  type="number" min = "1000" max="9999" required >
        <br>
    </label>
    <br>
    <label>Gemeente:<span th:errors="*{gemeente}"></span>
        <br>
        <input th:field="*{gemeente}" required>
    </label>
    <br>

    <th><button>Bestelbon plaasten</button></th>
</form>
</body>
</html>