<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav th:fragment="menu">
    <ul >
        <li><a th:href="@{/}">Welkom</a>
            <a th:href="@{/brouwer}">Brouwers</a>
            <a th:href="@{/mandje}">Mandje</a>
            </li>
    </ul>
</nav>
<body>
<table>
    <thead>
    <tr>
        <th>Bier</th>
        <th>Prijs</th>
        <th>Aantal</th>
        <th>Te betalen</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="item:${mand.getItems()}" th:object="${item}">
        <td th:text="*{naam}"></td>
        <td th:text="*{aantal}"></td>
        <td th:text="*{prijs}"></td>
        <td th:text="*{getTotaal()}"></td>
    </tr>

    <tr  th:object="${totaal}">
        <td >Totaal:</td>
        <td th:text="${totaal}">Totaal</td>
    </tr>
    <th><button>Bestelbon plaasten</button></th>


    </tbody>
</table>
</body>
</html>